/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, notosanskr !important;
    font-size: 16px;
    width: 100%;
    margin: 0;
    word-break: keep-all;
    color: #202B3D;
    a { color: inherit; }
    a:hover {
        color: inherit;
        text-decoration: none;
    }
    .btn {
    font-weight: 700;
}
}
 
nav.navbar-color {
    background-color: #202B3D !important;
}
.main-navbar {
    .navbar-toggler {
        width: 50px;
        height: 50px;
    }
    .navbar-logo {
        height: 34px;
    }
    .navbar-bell {
        height: 24px;
    }
    .navbar-bell-button {
        min-height: 50px;
        line-height: 50px;
    }
    button:focus {
        outline: none;
    }
    .dot-nav {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .dot-line {
        display: block;
        border-bottom: 1px solid;
        color: #fff;
        height: 1px;
    }
    .nav-active-dot {
        display: block;
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: 14.53em;
        top: 0.6em;
    }
    .nav-active-dot-completed {
        display: block;
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: 20.8em;
        top: 0.6em;
    }
    li.active {
        transition: background-color 0.1s ease;
    }
    
    li {
        color: #fff;
        transition: color 0.1s ease;
    }
    
    li a {
        font-size: 16px;
        color: inherit;
        font-weight: 900;
        background-color: transparent;
        line-height: 24px;
        padding: 0.8125rem 0.625rem;
    }
    
    li:hover {
        color: #7890A0;
        transition: color 0.1s ease;
    }
    li.active:hover {
        color: #fff;
        background-color: #101A21;
        transition: background-color 0.1s ease;
    }
    
    .notifications-counter {
        font-size: 0.5em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        border-radius: 1.5em;
        border: 1px solid #FF0000;
        color: #fff;
        background-color: #FF0000;
        display: inline-block;
        text-align: center;
        position: relative;
        left: 5px;
    }
}
.dropdown-notification {
    .btn {
        padding: 7px 13px;
        padding-top: 7px;
        padding-right: 13px;
        padding-bottom: 7px;
        padding-left: 13px;
    }
}


//modal
.modal {
    .modal-header {
        padding: 20px 24px 0 24px;
        border-bottom: none;
    }
    
    .modal-title {
        margin: 0;
        line-height: 36px;
        font-weight: 900;
    }
    
    .close {
        color: #202B3D;
    }
    
    .form-control {
        transition-duration: 0.06s;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-delay: initial;
        display: block;
        padding: 8px 12px;
        border: 1px solid #E1E7EE;
        border-radius: 3px;
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        color: #202B3D;
        background-color: #FBFBFC;
        outline: 0;
    }
    
    label {
        display: block;
        max-width: 100%;
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 16px;
    }
    
    .modal-body {
        position: relative;
        padding: 24px;
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
    }
    
    .control-label {
        font-weight: bold;
    }
    
    .time-position {
        bottom: 12px;
    }
    
    .input-group-addon {
        display: block;
        padding: 8px 12px;
        border-top-color: rgb(225, 231, 238);
        border-top-style: solid;
        border-top-width: 1px;
        border-bottom-color: rgb(225, 231, 238);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(225, 231, 238);
        border-left-style: solid;
        border-left-width: 1px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 40px;
        font-size: 16px;
        line-height: 24px;
        color: #202B3D;
        background-color: #fff;
        outline: 0;
    }
    
    .tryout-start-at, .tryout-end-at {
        width: 18.125rem;
        margin-bottom: 0.5rem;
    }
    
    .control-label.min-label {
        font-size: 10px;
    }
    
    .form-control:not([disabled]):hover, .form-control:not([disabled]):focus {
        border: 0.0625rem solid #0078FF;
        border-top-color: rgb(0, 120, 255);
        border-top-style: solid;
        border-top-width: 0.0625rem;
        border-right-color: rgb(0, 120, 255);
        border-right-style: solid;
        border-right-width: 0.0625rem;
        border-bottom-color: rgb(0, 120, 255);
        border-bottom-style: solid;
        border-bottom-width: 0.0625rem;
        border-left-color: rgb(0, 120, 255);
        border-left-style: solid;
        border-left-width: 0.0625rem;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        box-shadow: inset 0 0 0 0.0625rem #0078FF;
    }
    
    .error-message {
        padding-left: 5%;
        position: absolute;
        bottom: 15%;
        display: block;
        color: #FF0000;
    }
}

.form-required .control-label:after, label.required:after {
    content: '*';
    font-weight: 900;
    color: #F44336;
    margin-left: 0.25rem;
    font-size: 1.25rem;
}

//slider
.todo_slider {
    .switch {
      display: inline-block;
      height: 17px;
      position: relative;
      width: 30px;
    }
    .switch input {
      display:none;
    }
    .slider {
      background-color: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
    }
    .slider:before {
      background-color: #fff;
      bottom: 2px;
      content: "";
      height: 13px;
      left: 2px;
      position: absolute;
      transition: .4s;
      width: 13px;
    }
    input:checked + .slider {
      background-color: #66bb6a;
    }
    input:checked + .slider:before {
      transform: translateX(13px);
    }
    .slider.round {
      border-radius: 17px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
}

.due-input-box {
    display: none;
}

.due-input-box-show {
    display: block;
}

.remove_buttonshape {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	height: 0;
}

.input-group-flex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-flex .form-control {
    width: auto;
}

#ui-timepicker-div .ui-timepicker-table td a {
    width: 2.2em;
}

.form-control, input {
    border: 1px solid #E1E7EE;
    box-shadow: none;
}

.modal .form-group textarea {
    height: 222px;
    resize: none;
}

input.form-control[readonly], input.form-control[readonly] {
    background-color: #FBFBFC;
    opacity: 1;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-month, .ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    width: 42%;
}

/* priority */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rating > input{ display:none;}
.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 1em;
  color: #FFD700;
  cursor: pointer;
}
.rating > label::before{ 
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}
.rating > input:checked ~ label:before{
  opacity:1;
}
.rating:hover > input:checked ~ label:before{ opacity: 0.4; }


.modal .btn-default, .btn-default.focus, .btn-default:focus {
    color: #263747;
    background-color: #ECEFF5;
}

.modal .btn-default:hover, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default, .btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
    color: #263747;
    background-color: #E1E7EE;
}

.modal .modal-footer {
    padding: 1.5rem;
    text-align: right;
    border-top: none;
}




//card
.card {
    .priority-star {
        color: #FFD700;
    }
    //checkbox
    $checked-color: #34b93d;
    $unchecked-color: #B2C0CC;
    $checkbox-height: 2em;
    $background-color:#fff;
    $font-color: #B2C0CC;
    $duration: .4s;
    @-moz-keyframes dothabottomcheck{
        0% { height: 0; }
        100% { height: $checkbox-height/2; }
    }
    @-webkit-keyframes dothabottomcheck{
        0% { height: 0; }
        100% { height: $checkbox-height/2; }
    }
    @keyframes dothabottomcheck{
        0% { height: 0; }
        100% { height: $checkbox-height/2;  }
    }
    @keyframes dothatopcheck{
        0% { height: 0; }
        50% { height: 0; }
        100% { height: $checkbox-height * 1.2; }
    }
    @-webkit-keyframes dothatopcheck{
        0% { height: 0; }
        50% { height: 0; }
        100% { height: $checkbox-height * 1.2; }
    }
    @-moz-keyframes dothatopcheck{
        0% { height: 0; }
        50% { height: 0; }
        100% { height: $checkbox-height * 1.2; }
    }
    input[type=checkbox] {
        display:none;
    }
    .check-box {
        height: $checkbox-height;
        width: $checkbox-height;
        background-color: transparent;
        border: $checkbox-height * .1 solid $unchecked-color;
        border-radius: 5px;
        position: relative;
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-transition: border-color ease $duration/2;
        -o-transition: border-color ease $duration/2;
        -webkit-transition: border-color ease $duration/2;
        transition: border-color ease $duration/2;
        cursor:pointer;
        &::before, &::after {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            height: 0;
            width: $checkbox-height * .2;
            background-color: $checked-color;
            display: inline-block;
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            -o-transform-origin: left top;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            border-radius: 5px;
            content: ' ';
            -webkit-transition: opacity ease .5;
            -moz-transition: opacity ease .5;
            transition: opacity ease .5;
        }
        &::before {
            top:$checkbox-height * .72;
            left: $checkbox-height * .41;
            box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
            -moz-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
        &::after {
            top: $checkbox-height * .37;
            left: $checkbox-height * .05;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
    .check-box:hover {
        border-color: #202B3D;
    }
    input[type=checkbox]:checked + .check-box,
    .check-box.checked{
        border-color:$checked-color;
        &::after{
            height: $checkbox-height * .5;
            -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
            -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
            -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
            animation: dothabottomcheck $duration/2 ease 0s forwards;
        }
        &::before{
            height: $checkbox-height * 1.2;
            -moz-animation: dothatopcheck $duration ease 0s forwards;
            -o-animation: dothatopcheck $duration ease 0s forwards;
            -webkit-animation: dothatopcheck $duration ease 0s forwards;
            animation: dothatopcheck $duration ease 0s forwards;
        }
    }
    
    .done-update-delete {
        width: 15%;
    }
    .done-update-delete i {
        font-size: 2.3em;
        color: #B2C0CC;
    }
    .done-update-delete i:hover {
        color: #202B3D;
    }
    .fa-trash-o:before {
        position: relative;
        bottom: 2px;
    }
    
    .complete-make-grey {
        color: #B2C0CC;
        text-decoration: line-through;
    }
}
