<nav class="main-navbar navbar navbar-expand-lg navbar-color">
  <a class="navbar-brand" href="/"><%= image_tag("logo.png", class: "navbar-logo")%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/memos">ToDo 리스트</a>
      </li>
      <li class="nav-item active">
        <%= image_tag("dot.png", class: "nav-active-dot-completed")%>
        <a class="nav-link" href="/memos/completed">완료 리스트</a>
      </li>
    </ul>
  </div>
  <div class="memo_menu">
  </div>
</nav>